%header
  %nav#main_nav.navbar.navbar-expand-lg.container-fluid
    .row.w-100.justify-content-center
      .col-2.text-center
        %a{:href => "/", :title => "Inicio"}
          %img.logo.w-100{:alt => "" , :src => "https://upload.wikimedia.org/wikipedia/commons/6/63/Ingress_Logo.png"}/
        
      .col-6.collapse.navbar-collapse.ml-auto.menu
        %ul.w-100.navbar-nav.d-flex.justify-content-around#navbarSupportedContent
          %li.nav-item.p-1
            %a.nav-link{:href => "servicios"} Servicios
          %li.nav-item.p-1
            %a.nav-link{:href => "#"} Nosotros
          %li.nav-item.p-1
            %a.nav-link{:href => "#"} Portafolio
          %li.nav-item.p-1
            %a.nav-link{:href => "#"} Blog
          %li.nav-item.p-1
            %a.nav-link{:href => "#"} Contacto
